# 1 problrm statement

In [1]:
# To predict the charges

# 2 data gathering

In [2]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings("ignore")

import statsmodels.api as sm

In [3]:
df = pd.read_csv("medical_insurance.csv")
df

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

# 3 EDA

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

## check null / missing values

In [5]:
df.isna().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

# 4 feature engg

In [7]:
### lable encoding

In [8]:
df["sex"].value_counts().to_dict()

{'male': 676, 'female': 662}

In [9]:
df["sex"].replace({'male': 0, 'female': 1},inplace = True)

In [10]:
sex_value = {"female":0, "male":1}
sex_value

{'female': 0, 'male': 1}

In [11]:
df["smoker"].value_counts().to_dict()

{'no': 1064, 'yes': 274}

In [12]:
df["smoker"].replace({'no': 0, 'yes': 1}, inplace = True)

In [13]:
smoker_value = {'no': 0, 'yes': 1}
smoker_value

{'no': 0, 'yes': 1}

In [14]:
df["region"].value_counts().to_dict()

{'southeast': 364, 'southwest': 325, 'northwest': 325, 'northeast': 324}

In [15]:
# df["region"].replace({'southeast': 0, 'southwest': 1, 'northwest': 2, 'northeast': 3}, inplace = True)

In [16]:
df = pd.get_dummies(df,columns=["region"])
df

,age,sex,bmi,children,smoker,charges,region_northeast,region_northwest,region_southeast,region_southwest
0,19,1,27.900,0,1,16884.92400,0,0,0,1
1,18,0,33.770,1,0,1725.55230,0,0,1,0
2,28,0,33.000,3,0,4449.46200,0,0,1,0
3,33,0,22.705,0,0,21984.47061,0,1,0,0
4,32,0,28.880,0,0,3866.85520,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...
1333,50,0,30.970,3,0,10600.54830,0,1,0,0
1334,18,1,31.920,0,0,2205.98080,1,0,0,0
1335,18,1,36.850,0,0,1629.83350,0,0,1,0
1336,21,1,25.800,0,0,2007.94500,0,0,0,1
1337,61,1,29.070,0,1,29141.36030,0,1,0,0

In [17]:
x = df.drop(["charges"],axis = 1)
y = df["charges"]

In [73]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score,mean_absolute_error,mean_squared_error

In [19]:
x_train , x_test , y_train , y_test = train_test_split(x,y,train_size=0.8 , random_state=0)

In [77]:
model = RandomForestRegressor(random_state=11)
model.fit(x_train,y_train)

RandomForestRegressor(random_state=11)

In [78]:
# Model Evaluation for Training Data

y_pred_train = model.predict(x_train)

mse = mean_squared_error(y_train, y_pred_train)
print("Mean Sqaured Error :",mse)
print("-"*80)

rmse = np.sqrt(mse)
print("Root Mean Sqaured Error :",rmse)
print("-"*80)

mae = mean_absolute_error(y_train, y_pred_train)
print("Mean Absolute Error :",mae)
print("-"*80)

r_squared_value = r2_score(y_train, y_pred_train)
print("R Squared Value :",r_squared_value)

Mean Sqaured Error : 3584359.21643525
--------------------------------------------------------------------------------
Root Mean Sqaured Error : 1893.2404011205892
--------------------------------------------------------------------------------
Mean Absolute Error : 1034.6767436269076
--------------------------------------------------------------------------------
R Squared Value : 0.974998566913575

In [79]:
# Model Evaluation for Testing Data
y_pred = model.predict(x_test)

mse = mean_squared_error(y_test, y_pred)
print("Mean Sqaured Error :",mse)
print("-"*80)

rmse = np.sqrt(mse)
print("Root Mean Sqaured Error :",rmse)
print("-"*80)

mae = mean_absolute_error(y_test, y_pred)
print("Mean Absolute Error :",mae)
print("-"*80)

r_squared_value = r2_score(y_test, y_pred)
print("R Squared Value :",r_squared_value)

Mean Sqaured Error : 19220653.158355057
--------------------------------------------------------------------------------
Root Mean Sqaured Error : 4384.13653509503
--------------------------------------------------------------------------------
Mean Absolute Error : 2590.2918818863
--------------------------------------------------------------------------------
R Squared Value : 0.8792141160729565

In [80]:
import time
t1 = time.time()

rf_model = RandomForestRegressor(random_state=10, n_jobs=-1)

# n_estimators=100,
# criterion='squared_error',
# max_depth=None,
# min_samples_split=2,
# min_samples_leaf=1,
# max_features=['sqrt', 'log2'],
# n_jobs=-1,


hyperparameter = {"n_estimators" : np.arange(10,200),
                 "criterion":['squared_error', 'absolute_error'], 
                 "max_depth": np.arange(3,8),
                 "min_samples_split": np.arange(2,20),
                 "min_samples_leaf": np.arange(2,15), 
                 "max_features": ['sqrt', 'log2']
                 } 

gscv_rf_reg = RandomizedSearchCV(rf_model, hyperparameter, cv=5)
gscv_rf_reg.fit(x_train, y_train)

t2 = time.time()
print("Required Time :", t2-t1, "sec")

Required Time : 18.901918172836304 sec

In [82]:
gscv_rf_reg.best_estimator_
rf_reg = gscv_rf_reg.best_estimator_
rf_reg.fit(x_train, y_train)

RandomForestRegressor(max_depth=6, max_features='log2', min_samples_leaf=4,
                      n_estimators=132, n_jobs=-1, random_state=10)

In [83]:
# Training Accuracy
y_pred_train = rf_reg.predict(x_train)

mse = mean_squared_error(y_train, y_pred_train)
print("MSE :", mse)
print("-"*50)

rmse = np.sqrt(mse)
print("RMSE :", rmse)
print("-"*50)

mae = mean_absolute_error(y_train, y_pred_train)
print("MAE :", mae)
print("-"*50)

r2_value = r2_score(y_train, y_pred_train)
print("R2 Score :", r2_value)

MSE : 19659367.029430795
--------------------------------------------------
RMSE : 4433.888477333501
--------------------------------------------------
MAE : 2772.5540518075595
--------------------------------------------------
R2 Score : 0.8628730214722712

In [84]:

# Testing Accuracy
y_pred = rf_reg.predict(x_test)

mse = mean_squared_error(y_test, y_pred)
print("MSE :", mse)
print("-"*50)

rmse = np.sqrt(mse)
print("RMSE :", rmse)
print("-"*50)

mae = mean_absolute_error(y_test, y_pred)
print("MAE :", mae)
print("-"*50)

r2_value = r2_score(y_test, y_pred)
print("R2 Score :", r2_value)

MSE : 19328016.18978626
--------------------------------------------------
RMSE : 4396.363973761301
--------------------------------------------------
MAE : 3051.2331332320605
--------------------------------------------------
R2 Score : 0.8785394283531551

In [86]:
x.head(1).T

                     0
age               19.0
sex                1.0
bmi               27.9
children           0.0
smoker             1.0
region_northeast   0.0
region_northwest   0.0
region_southeast   0.0
region_southwest   1.0

In [87]:
column_names = x.columns
len(column_names)

9

In [88]:
import pickle
import json

In [89]:
with open("medical_model.pkl", "wb") as f:
    pickle.dump(rf_reg, f)

In [90]:
json_data = {"sex":sex_value, 
            "smoker":smoker_value,
            "columns":list(column_names)}
json_data

import json

with open ("medical_data.json","w") as f:
    json.dump(json_data,f)

# user input testing

In [91]:
age = 19.0
sex = "female"
bmi = 27.9
children = 0.0
smoker = "no"
region = "northwest"

region = "region_" + region
region

region_index = np.where(column_names == region)[0][0]
region_index

6

In [92]:
region_index = region_index = list(column_names).index(region)
region_index

6

In [93]:
json_data['columns']

['age',
 'sex',
 'bmi',
 'children',
 'smoker',
 'region_northeast',
 'region_northwest',
 'region_southeast',
 'region_southwest']

In [94]:
test_array = np.zeros(len(column_names))

test_array[0] = age
test_array[1] = json_data['sex'][sex]
test_array[2] = bmi
test_array[3] = children
test_array[4] = json_data['smoker'][smoker]
test_array[region_index] = 1

test_array

array([19. ,  0. , 27.9,  0. ,  0. ,  0. ,  1. ,  0. ,  0. ])

In [95]:
charges = round(rf_reg.predict([test_array])[0],2)
print("Predicted Medical Insurance Charges is :", charges, "/- Rs. Only")

Predicted Medical Insurance Charges is : 4468.78 /- Rs. Only

In [96]:
data = dict([('age', '84'), ('sex', 'male'), ('bmi', '24'), ('children', '2'), ('smoker', 'no'), ('region', 'northeast')])
data

{'age': '84',
 'sex': 'male',
 'bmi': '24',
 'children': '2',
 'smoker': 'no',
 'region': 'northeast'}